<div class="main">
  <h3>Escola Makulamba</h3>
  <form class="lista">
      <ul>
          <li class="l-title"><span>designação</span>
              <div class="l-atrrib">
                  <label>Funcionais</label>
                  <label>Não Funcionais</label>
                  <label>Número total</label>
              </div>
          </li>
          <li class="l-element">
              <label name="num">Salas de Aula Tecnica </label>
              <div class="atrrib">
                  <input class="funcional" type="number" name="funcional" placeholder="0" min=0 disabled>
                  <input class="nfuncional" type="number" name="nFuncional"   placeholder="0" min=0 disabled>
                  <input class="total" id="ttal" type="number" name="total"   placeholder="0" min=0>
              </div>
          </li>

          <li class="l-element">
              <label name="num">Salas de Informática </label>
              <div class="atrrib">
                  <input class="funcional" type="number" name="funcional" placeholder="0" min=0>
                  <input class="nfuncional" type="number" name="nFuncional" placeholder="0" min=0>
                  <input class="total" type="number" name="total"   placeholder="0" min=0 disabled>
              </div>
          </li>

          <li class="l-element">
              <label name="num">Laboratórios de Automação </label>
              <div class="atrrib">
                  <input class="funcional" type="number" name="funcional" placeholder="0" min=0>
                  <input class="nfuncional" type="number" name="nFuncional" placeholder="0" min=0>
                  <input class="total" type="number" name="total" placeholder="0" min=0 disabled>
              </div>
          </li>

          <li class="l-element">
              <label name="num">Laboratórios de Biologia </label>
              <div class="atrrib">
                  <input class="funcional" type="number" name="funcional"   placeholder="0" min=0>
                  <input class="nfuncional" type="number" name="nFuncional"   placeholder="0" min=0>
                  <input class="total" type="number" name="total"   placeholder="0" min=0 disabled>
              </div>
          </li>

          <li class="l-element">
              <label name="num">Laboratórios de CAD </label>
              <div class="atrrib">
                  <input class="funcional" type="number" name="funcional"   placeholder="0" min=0>
                  <input class="nfuncional" type="number" name="nFuncional"   placeholder="0" min=0>
                  <input class="total" type="number" name="total"   placeholder="0" min=0 disabled>
              </div>
          </li>

          <li class="l-element">
              <label name="num">Laboratórios CNC </label>
              <div class="atrrib">
                  <input class="funcional" type="number" name="funcional"   placeholder="0" min=0>
                  <input class="nfuncional" type="number" name="nFuncional"   placeholder="0" min=0>
                  <input class="total" type="number" name="total"   placeholder="0" min=0 disabled>
              </div>
          </li>

          <li class="l-element">
              <label name="num">Laboratórios de Electrónica </label>
              <div class="atrrib">
                  <input class="funcional" type="number" name="funcional"   placeholder="0" min=0>
                  <input class="nfuncional" type="number" name="nFuncional"   placeholder="0" min=0>
                  <input class="total" type="number" name="total"   placeholder="0" min=0 disabled>
              </div>
          </li>

          <li class="l-element">
              <label name="num">Laboratórios Energias Renovaveis</label>
              <div class="atrrib">
                  <input class="funcional" type="number" name="funcional"   placeholder="0" min=0>
                  <input class="nfuncional" type="number" name="nFuncional"   placeholder="0" min=0>
                  <input class="total" type="number" name="total"   placeholder="0" min=0 disabled>
              </div>
          </li>

          <li class="l-element">
              <label name="num">Laboratórios de Física</label>
              <div class="atrrib">
                  <input class="funcional" type="number" name="funcional"   placeholder="0" min=0>
                  <input class="nfuncional" type="number" name="nFuncional"   placeholder="0" min=0>
                  <input class="total" type="number" name="total"   placeholder="0" min=0 disabled>
              </div>
          </li>

          <li class="l-element">
              <label name="num">Laboratórios de frio e Climatização </label>
              <div class="atrrib">
                  <input class="funcional" type="number" name="funcional"   placeholder="0" min=0>
                  <input class="nfuncional" type="number" name="nFuncional"   placeholder="0" min=0>
                  <input class="total" type="number" name="total"   placeholder="0" min=0 disabled>
              </div>
          </li>

          <li class="l-element">
              <label name="num">Laboratórios de Instalaçoes Eléctricas </label>
              <div class="atrrib">
                  <input class="funcional" type="number" name="funcional"   placeholder="0" min=0>
                  <input class="nfuncional" type="number" name="nFuncional"   placeholder="0" min=0>
                  <input class="total" type="number" name="total"   placeholder="0" min=0 disabled>
              </div>
          </li>

          <li class="l-element">
              <label name="num">Laboratórios de Máquinas Eléctricas </label>
              <div class="atrrib">
                  <input class="funcional" type="number" name="funcional"   placeholder="0" min=0>
                  <input class="nfuncional" type="number" name="nFuncional"   placeholder="0" min=0>
                  <input class="total" type="number" name="total"   placeholder="0" min=0 disabled>
              </div>
          </li>

          <li class="l-element">
              <label name="num">Laboratórios de Metalomecânica </label>
              <div class="atrrib">
                  <input class="funcional" type="number" name="funcional"   placeholder="0" min=0>
                  <input class="nfuncional" type="number" name="nFuncional"   placeholder="0" min=0>
                  <input class="total" type="number" name="total"   placeholder="0" min=0 disabled>
              </div>
          </li>

          <li class="l-element">
              <label name="num">Laboratórios de quimica </label>
              <div class="atrrib">
                  <input class="funcional" type="number" name="funcional"   placeholder="0" min=0>
                  <input class="nfuncional" type="number" name="nFuncional"   placeholder="0" min=0>
                  <input class="total" type="number" name="total"   placeholder="0" min=0 disabled>
              </div>
          </li>
          <li class="l-element">
              <label name="num">Laboratórios de telecomunicações</label>
              <div class="atrrib">
                  <input class="funcional" type="number" name="funcional"   placeholder="0" min=0>
                  <input class="nfuncional" type="number" name="nFuncional"   placeholder="0" min=0>
                  <input class="total" type="number" name="total"   placeholder="0" min=0 disabled>
              </div>
          </li>

          <li class="l-element">
              <label name="num">Oficinas de Construções Mecânicas</label>
              <div class="atrrib">
                  <input class="funcional" type="number" name="funcional"   placeholder="0" min=0>
                  <input class="nfuncional" type="number" name="nFuncional"   placeholder="0" min=0>
                  <input class="total" type="number" name="total"   placeholder="0" min=0 disabled>
              </div>
          </li>

          <li class="l-element">
              <label name="num">Oficinas de Maquinas a Motores</label>
              <div class="atrrib">
                  <input class="funcional" type="number" name="funcional"   placeholder="0" min=0>
                  <input class="nfuncional" type="number" name="nFuncional"   placeholder="0" min=0>
                  <input class="total" type="number" name="total"   placeholder="0" min=0 disabled>
              </div>
          </li>

          <li class="l-element">
              <label name="num">Oficinas de Soldura</label>
              <div class="atrrib">
                  <input class="funcional" type="number" name="funcional"   placeholder="0" min=0>
                  <input class="nfuncional" type="number" name="nFuncional"   placeholder="0" min=0>
                  <input class="total" type="number" name="total"   placeholder="0" min=0 disabled>
              </div>
          </li>



      </ul>
      <input class="btn-actualizar" type="submit" name="lista" id="btn" value="Actualizar">
  </form>
</div>
